<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python310\python.exe|D:\home\Python310\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
      <startup>
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
      </environmentVariables>
<exec command="cmd /S /C "IF NOT EXIST D:\home\site\wwwroot\antenv python -m venv D:\home\site\wwwroot\antenv & D:\home\site\wwwroot\antenv\Scripts\activate.bat & pip install -r D:\home\site\wwwroot\requirements.txt"" />
    </startup>
    <fastCgi>
      <application fullPath="D:\home\Python310\python.exe" arguments="D:\home\Python310\Lib\site-packages\wfastcgi.py" />
    </fastCgi>
</system.webServer>
</configuration>
