<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python310\python.exe|D:\home\Python310\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <startup>
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
      </environmentVariables>
      <command>D:\home\Python310\python.exe -m venv D:\home\site\wwwroot\antenv & D:\home\site\wwwroot\antenv\Scripts\activate.bat & D:\home\site\wwwroot\antenv\Scripts\pip install -r D:\home\site\wwwroot\requirements.txt</command>
    </startup>
    <fastCgi>
      <application fullPath="D:\home\Python310\python.exe" arguments="D:\home\Python310\Lib\site-packages\wfastcgi.py" />
    </fastCgi>
    <rewrite>
      <rules>
        <rule name="Handle Requests" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
